@use '../base/variables';

.button {
  border-radius: 35px;
  margin: 0;
  text-transform: uppercase;
  font-family: variables.$font-roboto-mono;
  transition: background 0.25s ease, color 0.25s ease;
  cursor: pointer;
}

.button.primary {
  background: variables.$color-yellow;
  color: variables.$color-dark;

  &:hover {
    background: darken(variables.$color-yellow, 10%);
    color: variables.$color-light;
  }
  &:focus {
    background: darken(variables.$color-yellow, 10%);
    color: variables.$color-light;
  }
  &:focus-within {
    background: darken(variables.$color-yellow, 10%);
    color: variables.$color-light;
  }
}

.button.dark {
  background: variables.$color-dark;
  color: variables.$color-light;

  &:hover {
    background: lighten(variables.$color-dark, 10%);
    color: variables.$color-yellow;
  }
}

@media (max-width: variables.$mobile) {
    .button {
      width: auto;
    }

}