/* ------------------ Aktiv Grotesk ------------------ */
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-XBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Aktiv Grotesk';
  src: url('../../fonts/Aktiv-Grotesk/TTF/AktivGrotesk-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ------------------ Gellix ------------------ */
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gellix';
  src: url('../../fonts/Gellix/Gellix-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* ------------------ Goldplay ------------------ */
@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay/Latinotype - Goldplay Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay/goldplay-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Goldplay';
  src: url('../../fonts/Goldplay/goldplay-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}