hr {
  border-bottom: 2px solid #1D3C34;
  opacity: 0.1;
  width: 100%;
  margin: 25px auto;
}

.thumbnail {
  border: unset;
  box-shadow: unset;
  margin-bottom: unset;
}

.hr-full {
  margin: 0;
  width: 100%;
  max-width: 100%;
}